<section id="middle">
 <div class="container">
  <div class="row">
   <div class="middle_1">
    <h3>Adım Adım Kooperatifçiliğe!</h3>
	<h2><a href="#">Birlik Olma Vakti</h2>
	<p>Ülkemizde tarım önemli bir alan olmasına rağmen maalesef ki çiftçilerimiz ürünlerini ederinden çok daha ucuz fiyata satmak zorunda kalıyorlar.Ayrıca mahsüller için uzun bir süre emek harcıyorlar ve bu süre boyunca bir çok sorunla karşılaşıyorlar.Bazılarını çözebiliyorlar fakat bazılarını da çözemiyorlar.Bizim amacımız çiftçilerimiz birbirleriyle dayanışma ve yardımlaşma içerisinde olması ve birbirlerine yardım ederek karşılaştıkları sorunların kolayca üstesinden gelebilmeleri. Ayrıca bu kadar emek edip sonunda hasat ettikleri mahsüllerini de ucuza değil tam da ederine satmalarını istiyoruz.Bu amaçlara hizmet etmek üzere sitemizde gönderi paylaşma kısmı ve ürün satış kısmı var. Gönderi paylaşma kısmında her türlü sorunu,tavsiyeyi veya tarım ve kooperatifçilik ile ilgili herhangi bir konuyu tartışabilir ve gerektiği takdirde yardımlaşabilirler. Ürün satış kısmında ise istediği fiyattan ürünlerini koyup aracılar olmadan kolayca alıcı bulabilirler.</p>
   </div>
   <div class="middle_2 clearfix">
    <div class="col-sm-4">
	 <div class="middle_3">
	  <a href="#"><img src="~/farmerTheme/img/4.jpg" alt="abc" class="img_responsive"></a>
	  <h3>Hasat Dönemi</h3>
	  <p>Ürününüzün/mahsülünüzün hasat dönemi ile ilgili tüm sorun ve deneyimlerinizi gönderiler kısmında paylaşabilirsiniz.</p>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="middle_3">
	  <a href="#"><img src="~/farmerTheme/img/5.jpg" alt="abc" class="img_responsive"></a>
	  <h3>Alıcı Bulma</h3>
	  <p>Fiyatınızı kendiniz belirleyin! Siteye kayıt olduktan sonra ürün satış kısmında ürününüzü istediğiniz fiyattan satışa sunabilir ve alıcı bulabilirsiniz.</p>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="middle_3">
	  <a href="#"><img src="~/farmerTheme/img/6.jpg" alt="abc" class="img_responsive"></a>
	  <h3>Ekin Dönemi</h3>
	  <p>Ekin döneminde karşılaştığınız problemleri gönderi paylaşarak çözebilir ve diğer çiftçilere de bu konuda yardım edebilirsiniz. Bilgi paylaştıkça çoğalır!</p>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>