<section id="center" class="center_home">
<div class="banner">
		<div id="kb" class="carousel kb_elastic animate_text kb_wrapper" data-ride="carousel" data-interval="6000" data-pause="hover">
			<!-- Wrapper-for-Slides -->
            <div class="carousel-inner" role="listbox">  
                <div class="item active"><!-- First-Slide -->
                    <img src="~/ciftlik_tema/img/1.jpg" alt="" class="img-responsive">
                    <div class="carousel-caption kb_caption kb_caption_right">
                        <h1 data-animation="animated flipInX" class="">Çiftçinin Yanındayız</h1>
                        <p data-animation="animated flipInX" class="">Artık Emeklerinizi karşılığınızı alacaksınız.Sitemizdeki ürün satış kısmı sayesinde ilan verebilir ve istediğiniz fiyattan mahsüllerinize alıcı bulabilirsiniz.Tek yapmanız gereken ürününüzü ve iletişim bilgilerinizi girmek ve sonrasında alıcıların sizinle iletişime geçmesini beklemek. Artık aracıları aradan çıkarma vakti gelmedi mi?</p>
						<!-- <h4><a href="#"class="button hvr-shutter-out-horizontal">Read More</a></h4> -->
                    </div>
                </div>  
                <div class="item"> <!-- Second-Slide -->
                    <img src="~/ciftlik_tema/img/2.jpg" alt="" class="img-responsive">
                    <div class="carousel-caption kb_caption kb_caption_right">
                        <h1 data-animation="animated fadeInDown">Birlik ve Yardımlaşma</h1>
                        <p data-animation="animated fadeInUp">Tarlanızla,mahsüllerinizle alakalı bir sorun mu yaşadınız? Panik yapmanıza hiç gerek yok.Gönderiler kısmından gönderi paylaşarak diğer çiftçilerden yardım isteyebilirsiniz veya siz onlara cevap vererek yardım edebilirsiniz.</p>
						<!-- <h4><a href="#"class="button hvr-shutter-out-horizontal">Read More</a></h4> -->
                    </div>
                </div> 
                <div class="item"><!-- Third-Slide -->
                    <img src="~/ciftlik_tema/img/3.jpg" alt="" class="img-responsive">
                    <div class="carousel-caption kb_caption kb_caption_right">
                        <h1 data-animation="animated fadeInDown">Birlikten Kuvvet Doğar</h1>
                        <p data-animation="animated fadeInUp">Kooperatifçiliği sağlayabildiğiniz takdirde diğer çiftçilerle iletişimde kalıp satacağınız mahsüllerinizi ortak fiyatlardan satabilirsiniz.Böylece mahsüllerinizi ucuza değil, tam da ederine satmış olacaksınız.Ayrıca diğer çiftçilerle iletişimde kalıp her türlü problemde birbirinize yardım edip birçok kararı ortak şekilde alabilirsiniz.</p>
						<!-- <h4><a href="#"class="button hvr-shutter-out-horizontal">Read More</a></h4> -->
                    </div>
                </div> 
            </div> 
            <!-- Left-Button -->
            <a class="left carousel-control kb_control_left" href="#kb" role="button" data-slide="prev">
				<span class="fa fa-angle-left kb_icons" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a> 
            <!-- Right-Button -->
            <a class="right carousel-control kb_control_right" href="#kb" role="button" data-slide="next">
                <span class="fa fa-angle-right kb_icons" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a> 
        </div>
		<script src="~/ciftlik_tema/js/custom.js"></script>
	</div>
</section>