@model ResultPostWithAppUserAndCommentsDto
@{
    ViewData["Title"] = "PostDetails";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BİZİM ÇİFTLİK</title>
	<link rel="icon" href="~/ciftlik_tema/img/svg.png" type="image/x-icon">
    <link href="~/ciftlik_tema/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/ciftlik_tema/css/global.css" rel="stylesheet">
	<link href="~/ciftlik_tema/css/details.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="~/ciftlik_tema/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
   <script src="~/ciftlik_tema/js/jquery-2.1.1.min.js"></script>
    <script src="~/ciftlik_tema/js/bootstrap.min.js"></script>
	
	
	 

  </head>
<body>
<!-- <section id="details_main">
 <div class="details_main_3 clearfix">
  <div class="container">
  <div class="row">
   <div class="details_main_1 clearfix">
    <div class="col-sm-6">
	 <div class="details_main_2">
	  <h2>GÖNDERİNİN BAŞLIĞI</h2>
	 </div>
	</div>
	<div class="col-sm-6">
	 <div class="details_main_2">
	  <ul>
	       <li>Home</li>
		   <li>!</li>
		   <li>Details</li>
	  </ul>
	 </div>
	</div>
   </div>
  </div>
 </div>
 </div>
</section> -->


<section id="blog">
 <div class="container">
  <div class="row">
   <div class="blog_1 clearfix">
    <div class="col-sm-8 space_all">
	 <div class="details_1">
	  <!-- <a href="#"><img src="img/16.jpg" alt="abc" class="img_responsive"></a> -->
	  <!-- <h3>Scuba Diving To Do’s &amp; Don’t</h3> -->
	  <img src="~/ciftlik_tema/img/meyveler/cilek.jpg" alt="abc" style="height: 300px; width: 760px;">
	  <br>
	  <br>
	  <p>@Model.PostContent</p>
	
	 </div>
	 
	 <div class="details_5">
	  <div class="col-sm-12 space_all">
		<div class="col-sm-12 space_all">
		<div class="details_8">
		<p class="font-weight-bold">Benimle aşağıdaki numara üzerinden iletişime geçebilirsiniz.</p>	
		<a href="#" class="button_1">Ara!</a>
		</div>
		</div>
	</div>
	 </div>
	</div>
	<div class="col-sm-4 space_all">
	 <div class="blog_8">
	  <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" class="  search-query form-control" placeholder="Arama Yapın..">
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
	 </div>
	 <div class="blog_9">
	  <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="#">Recent Posts</a></h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-plus"></i></span>
                </div>
                <div class="panel-body" style="display: none;"><a href="#">Scuba Diving To Do’s &amp; Don’t</a></div>
                <div class="panel-body" style="display: none;"><a href="#">Luxury Tours in Bahamas</a></div>
                <div class="panel-body" style="display: none;"><a href="#">Amazing Tips for Tour Guides</a></div>
				<div class="panel-body" style="display: none;"><a href="#">What to Wear on Outdoor Trips?</a></div>
				<div class="panel-body" style="display: none;"><a href="#">Top Tour Destination of 2016</a></div>
            </div>
	 </div>
	 <div class="blog_9">
	  <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="#">Blog Tags</a></h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-plus"></i></span>
                </div>
                <div class="panel-body" style="display: none;"><a href="#">
				 <ul>
				      <li class="well_5">Top</li>
					  <li class="well_5">Tour</li>
					  <li class="well_5">Trips</li>
					  <li class="well_5">Wear</li>
					  <li class="well_5">Scuba</li>
				 </ul>
				</a>
				</div>
				<div class="panel-body" style="display: none;"><a href="#">
				<ul>
				      <li class="well_5">Top</li>
					  <li class="well_5">Tour</li>
					  <li class="well_5">Trips</li>
					  <li class="well_5">Wear</li>
				 </ul>
				</a>
				</div>
				<div class="panel-body" style="display: none;"><a href="#">
				<ul>
				      <li class="well_5">Top</li>
					  <li class="well_5">Tour</li>
					  <li class="well_5">Trips</li>
				 </ul>
				</a>
				</div>
            </div>
	 </div>
	 <!-- <div class="blog_9">
	  <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="#">Gallery</a></h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-plus"></i></span>
                </div>
                <div class="panel-body" style="display: none;">
				  <ul>
				       <li><a href="#"><img src="img/meyveler/cilek.jpg" alt="abc"></a></li>
					   <li><a href="#"><img src="img/meyveler/findik.jpg" alt="abc"></a></li>
					   <li><a href="#"><img src="img/meyveler/frenk_uzumu.jpg" alt="abc"></a></li>					   
				  </ul>
				  <ul>
				       <li><a href="#"><img src="img/meyveler/uzum.jpg" alt="abc"></a></li>
					   <li><a href="#"><img src="img/meyveler/erik.jpg" alt="abc"></a></li>
					   <li><a href="#"><img src="img/meyveler/kiraz.jpg" alt="abc"></a></li>
				  </ul>
				</div>
           
            </div>
	 </div> -->
	 <div class="blog_9">
	  <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="#">Categories</a></h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-plus"></i></span>
                </div>
                <div class="panel-body" style="display: none;"><a href="#">Budget Tours (3)</a></div>
                <div class="panel-body" style="display: none;"><a href="#">Expert Insight (4)</a></div>
                <div class="panel-body" style="display: none;"><a href="#">Independent (2)</a></div>
				<div class="panel-body" style="display: none;"><a href="#">Luxury Tours (2)</a></div>
				<div class="panel-body" style="display: none;"><a href="#">Safety Tips (5)</a></div>
				<div class="panel-body" style="display: none;"><a href="#">Tips n Tricks (1)</a></div>
				<div class="panel-body" style="display: none;"><a href="#">Uncategorized (7)</a></div>
            </div>
	 </div>
	 <div class="blog_10">
	  <h4 class="text-center" style="margin-top: 35px;">YORUMLAR</h4>
	  @foreach (var item in Model.Comments)
							{
								
						
	  <div class="blog_9">
		 
		<div class="panel panel-primary">
			<div class="flex-container">
				<img src="~/ciftlik_tema/img/meyveler/cilek.jpg" alt="abc" class="circle_img">
				<p>@item.CommentContent</p>
				<p class="text-right font-weight-light small">
					<i class="fa fa-calendar mr-1"></i> @item.CommentDate
				</p>
			</div>
			<div class="yorum">
				<p>@item.CommentContent</p>
			</div>
			
		
		</div>
	@*	<div class="panel panel-primary">
			<div class="flex-container">
				<img src="~/ciftlik_tema/img/meyveler/cilek.jpg" alt="abc" class="circle_img">
				<p>Feyza Çakmak</p>
				<p class="text-right font-weight-light small">
					<i class="fa fa-calendar mr-1"></i> 01.12.2023
				</p>
			</div>
			<div class="yorum">
				<p>Bu çileğin kilosu kaç paraya ya</p>
			</div>
			
		
		</div>
		<div class="panel panel-primary">
			<div class="flex-container">
				<img src="~/ciftlik_tema/img/meyveler/cilek.jpg" alt="abc" class="circle_img">
				<p>Feyza Çakmak</p>
				<p class="text-right font-weight-light small">
					<i class="fa fa-calendar mr-1"></i> 01.12.2023
				</p>
			</div>
			<div class="yorum">
				<p>Bu çileğin kilosu kaç paraya ya asdkasdkasd askdkas aksdsad</p>
			</div>
			
		
		</div>*@
	 </div>
	 	}

	</div>
   </div>
  </div>
 </div>
 </div>
</section>

<script>
$(document).ready(function(){
	/*****Fixed Menu******/
	var secondaryNav = $('.cd-secondary-nav'),
	   secondaryNavTopPosition = secondaryNav.offset().top;
		$(window).on('scroll', function(){
			if($(window).scrollTop() > secondaryNavTopPosition ) {
				secondaryNav.addClass('is-fixed');	
			} else {
				secondaryNav.removeClass('is-fixed');
			}
		});	
});
	</script>
<script>
	$(document).on('click', '.panel-heading span.clickable', function (e) {
    var $this = $(this);
    if (!$this.hasClass('panel-collapsed')) {
        $this.parents('.panel').find('.panel-body').slideUp();
        $this.addClass('panel-collapsed');
        $this.find('i').removeClass('glyphicon-minus').addClass('glyphicon-plus');
    } else {
        $this.parents('.panel').find('.panel-body').slideDown();
        $this.removeClass('panel-collapsed');
        $this.find('i').removeClass('glyphicon-plus').addClass('glyphicon-minus');
    }
});
$(document).on('click', '.panel div.clickable', function (e) {
    var $this = $(this);
    if (!$this.hasClass('panel-collapsed')) {
        $this.parents('.panel').find('.panel-body').slideUp();
        $this.addClass('panel-collapsed');
        $this.find('i').removeClass('glyphicon-minus').addClass('glyphicon-plus');
    } else {
        $this.parents('.panel').find('.panel-body').slideDown();
        $this.removeClass('panel-collapsed');
        $this.find('i').removeClass('glyphicon-plus').addClass('glyphicon-minus');
    }
});
$(document).ready(function () {
    $('.panel-heading span.clickable').click();
    $('.panel div.clickable').click();
});

	</script>
</body>
</html>