
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BİZİM ÇİFTLİK</title>
	<link rel="icon" href="~/ciftlik_tema/img/svg.png" type="image/x-icon">
    <link href="~/ciftlik_tema/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/ciftlik_tema/css/global.css" rel="stylesheet">
	<link href="~/ciftlik_tema/css/contact.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="~/ciftlik_tema/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
   <script src="~/ciftlik_tema/js/jquery-2.1.1.min.js"></script>
    <script src="~/ciftlik_tema/js/bootstrap.min.js"></script>
	
	
	 

  </head>
<body>
<section id="contact_main">
 <div class="contact_main_3 clearfix">
  <div class="container">
  <div class="row">
   <div class="contact_main_1 clearfix">
    <div class="col-sm-6">
	 <div class="contact_main_2">
	  <h2>İLETİŞİM</h2>
	 </div>
	</div>
	<div class="col-sm-6">
	 <div class="contact_main_2">
	  <ul>
	       <li>Ana Sayfa</li>
		   <li>!</li>
		   <li>İletişim</li>
	  </ul>
	 </div>
	</div>
   </div>
  </div>
 </div>
 </div>
</section>
<section id="contact">
 <div class="container">
  <div class="row">
   <div class="contact_1">
    <h2>BİZİMLE İLETİŞİM KUR!</h2>
	<p>Bize e-posta, telefon veya aşağıdaki web formumuz aracılığıyla ulaşın.</p>
   </div>
   <div class="contact_2 clearfix">
    <div class="col-sm-4">
	 <div class="contact_3">
	   <ul>
	        <li><i class="fa fa-map-marker"></i>Adresimiz: Integer Nec</li>
	  </ul>
	 </div>
	 <!-- <div class="contact_6">
	  <h3>Booking Enquiries</h3>
	  <p>This is Photoshop’s version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. 
	    Aenean sollicitudin, lorem quis bibendum auctor, nisi elit</p>
	 </div> -->
	</div>
	<div class="col-sm-4">
	 <div class="contact_4">
	   <ul>
	        <li><i class="fa fa-phone"></i>Telefon: <a href="#">123-2345-6789</a></li>
	  </ul>
	 </div>
	 <!-- <div class="contact_6">
	  <h3>Post Booking Questions</h3>
	  <p>This is Photoshop’s version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. 
	    Aenean sollicitudin, lorem quis bibendum auctor, nisi elit</p>
	 </div> -->
	</div>
	<div class="col-sm-4">
	 <div class="contact_5">
	   <ul>
	        <li><i class="fa fa-envelope"></i><a href="#"> bizimciftlik@gmail.com</a></li> 
	  </ul>
	 </div>
	 <!-- <div class="contact_6">
	  <h3>Payment Queries</h3>
	  <p>This is Photoshop’s version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. 
	    Aenean sollicitudin, lorem quis bibendum auctor, nisi elit</p>
	 </div> -->
	</div>
   </div>
  </div>
 </div>
</section>
<section id="exercise">
 <div class="container">
  <div class="row">
   <div class="col-sm-12">
    <div class="col-sm-4">
	  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3015.522602637399!2d31.17557208429647!3d40.90428589753286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x409da0c35c97aa71%3A0x93cc0b0387c8fc40!2zRMO8emNlIMOcbml2ZXJzaXRlc2kgTcO8aGVuZGlzbGlrIEZha8O8bHRlc2k!5e0!3m2!1str!2str!4v1702029820485!5m2!1str!2str" height="350" style="border:0; width:100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" ></iframe>
	</div>
	<div class="col-sm-8">
	 <div class="exercise_3">
	  <h2>Bize Yaz!</h2>
	 </div>
	 <div class="col-sm-12 space_all">
	  <div class="col-sm-4 space_all">
	   <div class="exercise_4">
	    <input type="text" class="form-control" placeholder="Adınız Soyadınız">
	   </div>
	  </div>
	  <div class="col-sm-4 space_all">
	   <div class="exercise_4">
	    <input type="text" class="form-control" placeholder="Emailiniz">
	   </div>
	  </div>
	  <div class="col-sm-4 space_all">
	   <div class="exercise_4">
	    <input type="text" class="form-control" placeholder="Telefon Numaranız">
	   </div>
	  </div>
	 </div>
	 <div class="col-sm-12 space_all">
	  <div class="exercise_5">
	   <textarea placeholder="Mesajınız" class="form-control"></textarea>
	  </div>
	 </div>
	 <div class="col-sm-12 space_all">
	  <div class="exercise_6">
	   <a href="#" class="button_1">Gönder</a>
	  </div>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>
<script>
$(document).ready(function(){
	/*****Fixed Menu******/
	var secondaryNav = $('.cd-secondary-nav'),
	   secondaryNavTopPosition = secondaryNav.offset().top;
		$(window).on('scroll', function(){
			if($(window).scrollTop() > secondaryNavTopPosition ) {
				secondaryNav.addClass('is-fixed');	
			} else {
				secondaryNav.removeClass('is-fixed');
			}
		});	
});
	</script>

</body>
</html>