@model List<ResultProductWithAppUserDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BİZİM ÇİFTLİK</title>
	<link rel="icon" href="img/svg.png" type="image/x-icon">
    <link href="~/ciftlik_tema/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/ciftlik_tema/css/global.css" rel="stylesheet">
	<link href="~/ciftlik_tema/css/shop.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="~/ciftlik_tema/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
   <script src="~/ciftlik_tema/js/jquery-2.1.1.min.js"></script>
    <script src="~/ciftlik_tema/js/bootstrap.min.js"></script>
	
	
	 

  </head>
  
<body>
	
<section id="shop_main">
 <div class="shop_main_3 clearfix">
  <div class="container">
  <div class="row">
   <div class="shop_main_1 clearfix">
    <div class="col-sm-6">
	 <div class="shop_main_2">
	  <h2>ALIŞVERİŞ</h2>
	 </div>
	</div>
	<div class="col-sm-6">
	 <div class="shop_main_2">
	  <ul>
	       <li>Ana Sayfa</li>
		   <li>!</li>
		   <li>Alışveriş</li>
	  </ul>
	 </div>
	</div>
   </div>
  </div>
 </div>
 </div>
</section>

<section id="shop">
 <div class="container">
  <div class="row">

   <div class="shop_1 clearfix">
	   @foreach (var item in Model)
					{
						
					
    <div class="col-sm-3">
	 <div class="shop_2">
		<a href="/Product/ProductDetails/@item.ProductID/"><img src="@item.ImageURL" alt="abc" class="img_responsive"></a>	  
	 </div>
	 <div class="shop_3">
	 	<h3>@item.ProductName</h3>
		<!-- <a style="text-align: left; font-size: small; color: white;" href="shop-details.html">Ürün Sahibi: Feyza Çakmak</a> -->
		<p  style="text-align: left; font-size: small; color: white;">Şehir: @item.CityName</p>	
		<hr class="hr_1">
		<p class="price">@item.Price TL</p>
	 </div>
	</div>
					}
	@*<div class="col-sm-3">
	 <div class="shop_2">
	  <a href="shop-details.html"><img src="~/ciftlik_tema/img/meyveler/erik.jpg" alt="abc" class="img_responsive"></a>	  
	 </div>
	 <div class="shop_3">
	  <h3>ERİK</h3>
	  <a style="text-align: left; font-size: small; color: white;" href="shop-details.html">Ürün Sahibi: Feyza Çakmak</a>
		<p  style="text-align: left; font-size: small; color: white;">Şehir: İstanbul</p>
	  <hr class="hr_1">
	  <p class="price">$25.00</p>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="shop_2">
	  <a href="shop-details.html"><img src="~/ciftlik_tema/img/meyveler/elma.jpg" alt="abc" class="img_responsive"></a>	  
	 </div>
	 <div class="shop_3">
	  <h3>ELMA</h3>
	  <a style="text-align: left; font-size: small; color: white;" href="shop-details.html">Ürün Sahibi: Feyza Çakmak</a>
		<p  style="text-align: left; font-size: small; color: white;">Şehir: İstanbul</p>
	  <hr class="hr_1">
	  <p class="price">$30.00</p>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="shop_2">
	  <a href="shop-details.html"><img src="~/ciftlik_tema/img/meyveler/kayisi.jpg" alt="abc" class="img_responsive"></a>	  
	 </div>
	 <div class="shop_3">
	  <h3>KAYISI</h3>
	  <a style="text-align: left; font-size: small; color: white;" href="shop-details.html">Ürün Sahibi: Feyza Çakmak</a>
		<p  style="text-align: left; font-size: small; color: white;">Şehir: İstanbul</p>
	  <hr class="hr_1">
	  <p class="price">$20.00</p>
	 </div>
	</div>*@

   </div> @* Birinci Satır*@
 @*  <div class="shop_1 clearfix">
    <div class="col-sm-3">
	 <div class="shop_2">
		<a href="shop-details.html"><img src="~/ciftlik_tema/img/meyveler/frenk_uzumu.jpg" alt="abc" class="img_responsive"></a>	  
	</div>
	<div class="shop_3">
	 <h3>FRENK ÜZÜMÜ</h3>
	<a style="text-align: left; font-size: small; color: white;" href="#">Ürün Sahibi: Feyza Çakmak</a>
	<p  style="text-align: left; font-size: small; color: white;">Şehir: İstanbul</p>	
	 <hr class="hr_1">
	 <p class="price">60 TL</p>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="shop_2">
	  <a href="shop-details.html"><img src="~/ciftlik_tema/img/meyveler/findik.jpg" alt="abc" class="img_responsive"></a>	  
	 </div>
	 <div class="shop_3">
	  <h3>FINDIK</h3>
	  <a style="text-align: left; font-size: small; color: white;" href="shop-details.html">Ürün Sahibi: Feyza Çakmak</a>
		<p  style="text-align: left; font-size: small; color: white;">Şehir: İstanbul</p>
	  <hr class="hr_1">
	  <p class="price">$25.00</p>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="shop_2">
	  <a href="shop-details.html"><img src="~/ciftlik_tema/img/meyveler/zeytin.jpg" alt="abc" class="img_responsive"></a>	  
	 </div>
	 <div class="shop_3">
	  <h3>ZEYTİN</h3>
	  <a style="text-align: left; font-size: small; color: white;" href="shop-details.html">Ürün Sahibi: Feyza Çakmak</a>
		<p  style="text-align: left; font-size: small; color: white;">Şehir: İstanbul</p>
	  <hr class="hr_1">
	  <p class="price">$30.00</p>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="shop_2">
	  <a href="shop-details.html"><img src="~/ciftlik_tema/img/meyveler/kiraz.jpg" alt="abc" class="img_responsive"></a>	  
	 </div>
	 <div class="shop_3">
	  <h3>KİRAZ</h3>
	  <a style="text-align: left; font-size: small; color: white;" href="shop-details.html">Ürün Sahibi: Feyza Çakmak</a>
		<p  style="text-align: left; font-size: small; color: white;">Şehir: İstanbul</p>
	  <hr class="hr_1">
	  <p class="price">$20.00</p>
	 </div>
	</div>
   </div>  İkinci satır
   <div class="shop_1 clearfix">
    <div class="col-sm-3">
	 <div class="shop_2">
		<a href="shop-details.html"><img src="~/ciftlik_tema/img/meyveler/uzum.jpg" alt="abc" class="img_responsive"></a>	  
	</div>
	<div class="shop_3">
	 <h3>ÜZÜM</h3>
	<a style="text-align: left; font-size: small; color: white;" href="#">Ürün Sahibi: Feyza Çakmak</a>
	<p  style="text-align: left; font-size: small; color: white;">Şehir: İstanbul</p>	
	 <hr class="hr_1">
	 <p class="price">60 TL</p>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="shop_2">
	  <a href="shop-details.html"><img src="~/ciftlik_tema/img/meyveler/kayisi.jpg" alt="abc" class="img_responsive"></a>	  
	 </div>
	 <div class="shop_3">
	  <h3>KAYISI</h3>
	  <a style="text-align: left; font-size: small; color: white;" href="shop-details.html">Ürün Sahibi: Feyza Çakmak</a>
		<p  style="text-align: left; font-size: small; color: white;">Şehir: İstanbul</p>
	  <hr class="hr_1">
	  <p class="price">25.00 <i class="fa fa-try" aria-hidden="true"></i></p>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="shop_2">
	  <a href="shop-details.html"><img src="~/ciftlik_tema/img/meyveler/erik.jpg" alt="abc" class="img_responsive"></a>	  
	 </div>
	 <div class="shop_3">
	  <h3>ERİK</h3>
	  <a style="text-align: left; font-size: small; color: white;" href="shop-details.html">Ürün Sahibi: Feyza Çakmak</a>
		<p  style="text-align: left; font-size: small; color: white;">Şehir: İstanbul</p>
	  <hr class="hr_1">
	  <p class="price">30.00 <i class="fa fa-try" aria-hidden="true"></i></p>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="shop_2">
	  <a href="shop-details.html"><img src="~/ciftlik_tema/img/meyveler/cilek.jpg" alt="abc" class="img_responsive"></a>	  
	 </div>
	 <div class="shop_3">
	  <h3>ÇİLEK</h3>
	  <a style="text-align: left; font-size: small; color: white;" href="shop-details.html">Ürün Sahibi: Feyza Çakmak</a>
		<p  style="text-align: left; font-size: small; color: white;">Şehir: İstanbul</p>
	  <hr class="hr_1">
	  <p class="price">20.00 <i class="fa fa-try" aria-hidden="true"></i></p>
	 </div>
	</div>
   </div>    Üçüncü satır*@

   <div class="shop_4">
    <ul>
	     <li class="well_1">1</li>
		 <li class=" well_2"><a href="shop-details.html">2</a></li>
		 <li class=" well_2"><a href="shop-details.html">Next <i class="fa fa-angle-double-right"></i></a></li>
	</ul>
   </div>
  </div>
 </div>
</section>

<script>
$(document).ready(function(){
	/*****Fixed Menu******/
	var secondaryNav = $('.cd-secondary-nav'),
	   secondaryNavTopPosition = secondaryNav.offset().top;
		$(window).on('scroll', function(){
			if($(window).scrollTop() > secondaryNavTopPosition ) {
				secondaryNav.addClass('is-fixed');	
			} else {
				secondaryNav.removeClass('is-fixed');
			}
		});	
});
	</script>
</body>
</html>
