<section id="facts">
 <div class="container">
  <div class="row">
   <div class="facts_3">
    <h3>All News Around Us</h3>
	<h2><a href="#">Our</a> Blog</h2>
   </div>
   <div class="facts_1 clearfix">
    <div class="col-sm-4">
	 <div class="facts_2">
	  <a href="#"><img src="~/farmerTheme/img/11.jpg" alt="abc" class="img-responsive"></a>
	  <h3>Gallery With Images</h3>
	  <ul>
	       <li class="date">June 7, 2014</li> 
		   <li>!</li>
		   <li>Sergey Kosenko</li>
	  </ul>
	  <p>Over the course of my career, I have had the opportunity to lead various Web design and development teams, including</p>
	  <a href="#" class="button_1">More</a>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="facts_2">
	  <a href="#"><img src="~/farmerTheme/img/12.jpg" alt="abc" class="img-responsive"></a>
	  <h3>Fullwidth Image Post</h3>
	  <ul>
	       <li class="date">June 7, 2014</li> 
		   <li>!</li>
		   <li>Sergey Kosenko</li>
	  </ul>
	  <p>Over the course of my career, I have had the opportunity to lead various Web design and development teams, including</p>
	  <a href="#" class="button_1">More</a>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="facts_2">
	  <a href="#"><img src="~/farmerTheme/img/13.jpg" alt="abc" class="img-responsive"></a>
	  <h3>Beautiful new dress. Sale!</h3>
	  <ul>
	       <li class="date">June 7, 2014</li> 
		   <li>!</li>
		   <li>Sergey Kosenko</li>
	  </ul>
	  <p>Over the course of my career, I have had the opportunity to lead various Web design and development teams, including</p>
	  <a href="#" class="button_1">More</a>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>